@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>
<button type="button" class="btn btn-info" @onclick="AlertBrowser">
    Poke the browser
</button>
<hr />
<input id="colorBox" />
<button type="button" class="btn btn-info" @onclick="SetColor">
    Set Color
</button>
<button type="button" class="btn btn-info" @onclick="GetColor">
    Get Color
</button>
<TimesTable Number="6"/>
@code {

    [Inject]
    IJSRuntime JsRuntime { get; set; } = null;

    public async Task AlertBrowser()
    {
        await JsRuntime.InvokeVoidAsync("messageBox", "Blazor poking the browser");
    }

    public async Task SetColor()
    {
        await JsRuntime.InvokeVoidAsync("setColorInStorage");
    }

    public async Task GetColor()
    {
        await JsRuntime.InvokeVoidAsync("getColorFromStorage");
    }
}